.root
{
    -fx-background-color: #DCDCDC;
}
.red-bar
{
    -fx-text-box-border: white;
    -fx-control-inner-background:white;
    -fx-accent: #D73B3E;
    -fx-border-radius: 5;
    -fx-indeterminate-bar-flip: false;
    -fx-indeterminate-bar-animation-time: 3;
    -fx-indeterminate-bar-escape: true;
}
.red-bar .bar { 
    -fx-background-radius: 15; 
}
.red-bar .track { 
    -fx-background-radius: 15; 
}

.red-bar {
    -fx-background-radius: 15;     
}

#menu {
    -fx-background-color: #DCDCDC;
    -fx-spacing: 10;
}

#menu .button {
    -fx-pref-height: 80;
    -fx-pref-width: 200;
    -fx-border-width: 3 3 3 3;
    -fx-background-color: #B8B8B8;
    -fx-font-size: 15;
}

#menu .button:hover {
    -fx-border-color: #B82F33;
    -fx-border-width: 3 3 3 3;
}
